fastapi
sqlalchemy
pydantic
uvicorn
alembic
python-dotenv
fastapi-sqlalchemy
psycopg2-binary
gunicorn
starlette
pytest
python-jose
python-multipart
APScheduler
jose
auth-lib-profcomff
asyncio
requests