fastapi
sqlalchemy
pydantic
pydantic-settings
uvicorn
alembic
python-dotenv
fastapi-sqlalchemy
psycopg2-binary
gunicorn
pytest
python-multipart
APScheduler
ping3
auth-lib-profcomff
requests
logging-profcomff
aiohttp
